.container {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
	align-items: center;
}

.strip {
	width: 10px;
	height: 100%;
	background-color: #ff6f34;
}

.text-area {
	padding: 20px;
	color: black;
}

.text-area > div {
	margin: 2em;
}

.extra-text {
	display: none;
	margin-top: 10px;
	color: white;
	padding: 10px;
	border-radius: 10px;
}

.show-text {
	display: block;
	background-color: #ff7f50;
}
